#chat-container {
    /*border: 1px solid #ccc;*/
    overflow-y: auto;
    max-height: 400px;
}

#chat-container::-webkit-scrollbar {
  display: none;}
::-webkit-scrollbar-button {
    display: none;
}

#chat-messages {
    margin-bottom: 20px;
}

/* Style the message input and send button */
#user-message {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#message-form button {
    width: 28%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

/*grid system*/
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    /*column-gap: 1em;*/
    }
.grid-nav{
    display: grid;
    grid-template-rows: 4rem auto 5rem;
    align-items: center;
}
.grid-chat{
    display: grid;
    grid-template-rows: 4rem auto 6rem;
}
html::-webkit-scrollbar {
  display: none;}
.btn-parent{
    position: relative;
}
.btn-child{
    position: absolute;
    right: -2em;
    top: 0.5em;
}

textarea{
    max-height: 4em;
    width: 500px;
    overflow-y: hidden;
    resize:none;
    outline: none;
    padding: 0;
}

/*.item3{*/
/*    position: fixed;*/
/*}*/



ul{
    list-style: none;
    align-self: center;
}

.letter{
    Display: inline-block;
    width: 40px;
}

.grid-nav-footer{
    border-top: white solid 1px;
}